@import url("https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-primary: "JetBrains Mono", "sans-serif";
  --font-display: "Coustard", "sans-serif";

  /* Colors */
  --color-accent: oklch(0.6711 0.2698 318.56);
  --color-accent-medium: oklch(0.5001 0.2362 317.39);
  --color-primary: oklch(0.3487 0.1429 304.84);
  --color-primary-medium: oklch(0.2797 0.1084 305.53);
  --color-primary-dark: oklch(0.1639 0.0609 306.88);
  --color-secondary: oklch(0.2624 0.1154 289.96);
  --color-secondary-dark: oklch(0.1525 0.0519 276.29);

  /* Colors 50% Opacity */
  --color-primary-medium-50: oklch(0.2797 0.1084 305.53 / 0.5);
  --color-primary-dark-50: oklch(0.1639 0.0609 306.88 / 0.5);

  /* Gradients */

  --background-image-gradient: linear-gradient(
    45deg,
    var(--color-primary-medium),
    var(--color-primary-dark)
  );

  --background-image-gradient-transparent: linear-gradient(
    45deg,
    var(--color-primary-medium-50),
    var(--color-primary-dark-50)
  );

  --background-image-gradient-accent:
    linear-gradient(rgb(0 0 0 / 0.2), rgb(0 0 0 / 0.2)),
    linear-gradient(45deg, var(--color-accent-medium), var(--color-accent));
}

@layer base {
  html {
    @apply font-primary bg-secondary-dark scroll-smooth text-white;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .link {
    @apply hover:text-accent flex items-center gap-2 transition duration-500 ease-in-out;
  }

  .btn {
    @apply flex w-fit items-center gap-2 rounded-lg font-medium uppercase transition duration-500 ease-in-out;
  }

  .btn_cta {
    @apply px-4 py-2 text-xl;

    background-image: var(--background-image-gradient-accent);
    background-size: 200% 100%;
    background-position: 0% 50%;
    transition: background-position 500ms ease;
  }

  .btn_cta:hover {
    background-position: 100% 0%;
  }

  .btn_link {
    @apply px-4 py-2 hover:bg-black;
  }

  .tag {
    @apply flex items-center justify-start rounded border border-white text-sm;
  }

  .tag_card {
    @apply w-fit gap-2 px-2 py-1.5;
  }

  .tag_stack {
    @apply bg-gradient-transparent w-40 gap-4 px-4 py-4;
  }

  .card {
    @apply w-full rounded-lg border border-white p-4 sm:p-8;
  }

  .card_project {
    @apply bg-gradient sm:w-100;
  }

  .card_tech {
    @apply bg-gradient-transparent sm:w-70;
  }
}

@layer utilities {
}
